html {
  width: 100%;
  height: 100%;
}

body {
	margin: 0;
  width: 100%;
  height: 100%;
}

#root {
  width: 400px;
  height: 400px;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: rgba(255, 255, 255, 0.2);
  overflow: hidden;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}